.wci_wrap #wci_form_options label,
.wci_wrap #wci_form_options input,
.wci_wrap #wci_message_options label,
.wci_wrap #wci_message_options input {
	float: left;
	clear: left;
}
.wci_wrap input[type=text] {
	margin-bottom: 10px;
	width: 100%;
}